body{
    overflow-y: auto!important;
    scroll-behavior: smooth;
}

.fixedImage{
    margin-top: -50px!important;
    background-image: linear-gradient(rgba(28, 59, 105, 0.5), rgba(146, 130, 130, 0.26)),url("https://img.etimg.com/photo/msid-68721421,quality-100/nature.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed!important;
    opacity: 0.7;
    z-index: -2!important;
    width: 100%!important;
    height: 1200px!important;
    margin-left: -10px;
}
.theme-changer{
    margin-left: 10px;
    cursor: pointer;
}
.nav-item{
    padding: 10px 20px;
    border: 1px solid black;
}
.nav-item:hover{
    background-color: rgb(0, 0, 0);
    transition: 0.8s ease;
    color: white;
}
.sideBar{
    background-color: rgba(45, 32, 49, 0.781);
    width: 70px;
    color: aliceblue;
    height: auto;
    position: fixed!important;
    z-index: 3;
}
.sidebar-list{
    margin-top: 50px;
    font-size: 1.2rem;
    font-family:monospace;
}
.sidebar-list:hover{
    cursor: pointer;
    color: rgb(149, 191, 228);
    transition: 0.5s ease;
}
.sidebar-list i:hover{
    margin: auto;
    margin-top: -5px;
    margin-bottom: 5px;
    position: static;
    
} 
.social{
    width: 30px;
    border-radius: 50%;
    box-shadow:2px 3px 5px 4px rgba(114, 141, 167, 0.781);
}
.social:hover{
    transform: scale(1.2);
    transition: 0.2s ease;
}
.pages{
    background-color: white;
    z-index: 1!important;
    width: 30%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    border: 1px solid #dadada;
    box-shadow: 3px 4px 5px #444444;
    padding:100px 10px;

}
.Second-div{
    font-size: 2rem;
    background-color: white;
    background-image: linear-gradient(rgba(166, 216, 245, 0.534), rgba(240, 100, 240, 0.342));
    padding: 10px 50px;
    z-index: 1!important;
    width: 60%;
    margin: auto;
    margin-top: 150px;
    text-align: center;
    box-shadow: 3px 4px 5px #444444;
    padding: 10px;
}
#aboutme{
    font-size: 1.2rem;
    color: black;
    letter-spacing: 2px;
    background-color: white;
    display: flex;
}
@media only screen and (max-width:850px){
    .outer-home{
        display: block!important;
    }
    .pages{
        width: 70%!important;
    }
    #homelogo{
        width: 150px;
        margin: auto!important;
    }
    .Second-div{
        margin-top: 10px!important;
    }
}